.inlineemailform {
  display: inline-block;
  position: relative;
}

.inlineemailform * {
  box-sizing: border-box;
  color: #656565;
  font-size: 16px;
  line-height: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.inlineemailform .toggle {
  display: inline;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #333;
  color: #333;
}


.inlineemailform .form {
  background: #ffffff;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 15px;
  margin-left: -150px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  text-align: left;
}

.inlineemailform .form:before,
.inlineemailform .form:after {
  content: "";
  position: absolute;
  left: 140px;
  top: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

.inlineemailform .form:before {
  border-bottom-color: #E2E2E2;
  top: -21px;
}

.inlineemailform input,
.inlineemailform textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #333;
}

.inlineemailform textarea {
  width: 100%;
}

.inlineemailform .reciever {
  background: #D3E7F9;
  color: #333;
  padding: 0 6px;
  border-radius: 2px;
}


.inlineemailform .formgroup {
  display: inline-block;
  border-bottom: 2px solid #F4F4F4;
  margin-left: 5%;
  padding: 6px 5% 5px 0;
  width: 95%;
}

.inlineemailform .formgroup--from {
  border-bottom: none;
}

.inlineemailform .formgroup--message {
  border-bottom: none;
  border-top: 2px solid #F4F4F4;
  margin-left: 0;
  padding: 2% 5%;
  width: 100%;
}

.inlineemailform .formgroup--send {
  border-bottom: none;
  text-align: right;
  padding: 10px;
}

.inlineemailform input,
.inlineemailform label,
.inlineemailform span {
  display: inline-block;
  vertical-align: middle;
}

.inlineemailform textarea {
  resize: none;
  height: 100px;
  border: none;
}

.inlineemailform .submit {
  color: #2087fc;
  font-size: 12px;
  padding: 0px 8px;
  border-radius: 3px;
  background: #fbfbfb;
  border: 1px solid #2087fc;
  margin: 0;
  cursor: pointer;
}

.thanks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 5px 20px;
  border-radius: inherit;
  text-align: center;

  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: .3s;
  transition: .3s;
}

.thanks:target {
  opacity: 1;
  pointer-events: auto;

  animation: open .3s;

  transform: scale(1);
  -webkit-transform: scale(1);
}

.inlineemailform .form {
  opacity: 0;
  pointer-events: none;

  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: top center;
  transform-origin: top center;

  -webkit-transition: .3s;
  transition: .3s;
}

.inlineemailform #checkbox {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.inlineemailform #checkbox:checked ~ .form {
  opacity: 1;
  pointer-events: auto;

  animation: open .3s;

  transform: scale(1);
  -webkit-transform: scale(1);
}

@keyframes open {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
