body {
  text-align: center;
  color: #656565;
  font-size: 16px;
  line-height: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-top: 30vh;
}

a {
	color: #2087fc;
	border-bottom: 1px solid #2087fc;
	text-decoration: none;
}